//! **************************************************************************
// Written by: Map P.68d on Tue Sep 03 11:42:59 2013
//! **************************************************************************

SCHEMATIC START;
COMP "A" LOCATE = SITE "U9" LEVEL 1;
COMP "Y" LOCATE = SITE "T8" LEVEL 1;
SCHEMATIC END;

