//! **************************************************************************
// Written by: Map P.68d on Wed Aug 14 12:50:45 2013
//! **************************************************************************

SCHEMATIC START;
COMP "A" LOCATE = SITE "T10" LEVEL 1;
COMP "B" LOCATE = SITE "T9" LEVEL 1;
COMP "C" LOCATE = SITE "V9" LEVEL 1;
COMP "Y" LOCATE = SITE "U16" LEVEL 1;
SCHEMATIC END;

