#Comment
#Define input pines

#RESET
NET "RST" LOC = G12;
#Clock
Net "Clk100" LOC =B8;
#LED
NET "TC" LOC = M5;
#P
NET "P<0>" LOC = N3;
NET "P<1>" LOC = E2;
NET "P<2>" LOC = F3;
NET "P<3>" LOC = G3; 

NET "PE" LOC = B4;
NET "CEP" LOC =K3;
NET "CET" LOC = L3;


#Net "Swc" LOC = P11;
#DEFINE output pines
NET "anode<0>" LOC =F12;
NET "anode<1>" LOC =J12;
NET "anode<2>" LOC =M13;
NET "anode<3>" LOC =K14;

NET "Seg<0>" LOC =L14;
NET "Seg<1>" LOC =H12;
NET "Seg<2>" LOC =N14;
NET "Seg<3>" LOC =N11;
NET "Seg<4>" LOC =P12;
NET "Seg<5>" LOC =L13;
NET "Seg<6>" LOC =M12;