//! **************************************************************************
// Written by: Map P.68d on Wed Sep 11 18:57:16 2013
//! **************************************************************************

SCHEMATIC START;
COMP "Anode<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "Anode<1>" LOCATE = SITE "J12" LEVEL 1;
COMP "Anode<2>" LOCATE = SITE "M13" LEVEL 1;
COMP "Anode<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "Seg<0>" LOCATE = SITE "L14" LEVEL 1;
COMP "Seg<1>" LOCATE = SITE "H12" LEVEL 1;
COMP "Seg<2>" LOCATE = SITE "N14" LEVEL 1;
COMP "Seg<3>" LOCATE = SITE "N11" LEVEL 1;
COMP "Seg<4>" LOCATE = SITE "P12" LEVEL 1;
COMP "Seg<5>" LOCATE = SITE "L13" LEVEL 1;
COMP "Seg<6>" LOCATE = SITE "M12" LEVEL 1;
COMP "Num<0>" LOCATE = SITE "B4" LEVEL 1;
COMP "Num<1>" LOCATE = SITE "K3" LEVEL 1;
COMP "Num<2>" LOCATE = SITE "L3" LEVEL 1;
COMP "Num<3>" LOCATE = SITE "P11" LEVEL 1;
COMP "Num<4>" LOCATE = SITE "N3" LEVEL 1;
COMP "Num<5>" LOCATE = SITE "E2" LEVEL 1;
COMP "Num<6>" LOCATE = SITE "F3" LEVEL 1;
COMP "Num<7>" LOCATE = SITE "G3" LEVEL 1;
SCHEMATIC END;

