//! **************************************************************************
// Written by: Map P.68d on Wed Aug 28 18:57:46 2013
//! **************************************************************************

SCHEMATIC START;
COMP "I<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "I<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "I<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "I<3>" LOCATE = SITE "B4" LEVEL 1;
COMP "Sel<0>" LOCATE = SITE "E2" LEVEL 1;
COMP "Sel<1>" LOCATE = SITE "N3" LEVEL 1;
COMP "Y" LOCATE = SITE "M5" LEVEL 1;
SCHEMATIC END;

