//! **************************************************************************
// Written by: Map O.61xd on Mon Dec 03 09:28:56 2012
//! **************************************************************************

SCHEMATIC START;
COMP "Hsync" LOCATE = SITE "N6" LEVEL 1;
COMP "Blue<0>" LOCATE = SITE "R7" LEVEL 1;
COMP "Blue<1>" LOCATE = SITE "T7" LEVEL 1;
COMP "Rst" LOCATE = SITE "B8" LEVEL 1;
COMP "Vsync" LOCATE = SITE "P7" LEVEL 1;
COMP "Clk_100M" LOCATE = SITE "V10" LEVEL 1;
COMP "Red<0>" LOCATE = SITE "U7" LEVEL 1;
COMP "Red<1>" LOCATE = SITE "V7" LEVEL 1;
COMP "Green<0>" LOCATE = SITE "P8" LEVEL 1;
COMP "Red<2>" LOCATE = SITE "N7" LEVEL 1;
COMP "Green<1>" LOCATE = SITE "T6" LEVEL 1;
COMP "Green<2>" LOCATE = SITE "V6" LEVEL 1;
SCHEMATIC END;

