#PACE: Start of PACE I/O Pin Assignments
#Pins para la tableta Nexys 3
NET "Rst"         LOC = "B8";
#Forzar a que un Clock se pueda conectar a una señal que no es Clock
#NET "KeyClock" CLOCK_DEDICATED_ROUTE;
NET "Clk_100M"      LOC = "V10";
NET "Red<2>"        LOC = "N7";  #Rojo  MSB 
NET "Red<1>"        LOC = "V7";  #Rojo  middle bit
NET "Red<0>"        LOC = "U7";  #Rojo  LSB
NET "Green<2>"      LOC = "V6";  #Green MSB
NET "Green<1>"      LOC = "T6";  #Green middle bit
NET "Green<0>"      LOC = "P8";  #Green LSB
NET "Blue<1>"       LOC = "T7";  #Blue  MSB
NET "Blue<0>"       LOC = "R7";  #Blue  LSB
NET "Hsync"         LOC = "N6";
NET "Vsync"         LOC = "P7";