//! **************************************************************************
// Written by: Map P.68d on Fri Aug 16 15:53:22 2013
//! **************************************************************************

SCHEMATIC START;
COMP "A" LOCATE = SITE "K3" LEVEL 1;
COMP "B" LOCATE = SITE "L3" LEVEL 1;
COMP "C" LOCATE = SITE "P11" LEVEL 1;
COMP "Y" LOCATE = SITE "M5" LEVEL 1;
SCHEMATIC END;

