#Comment
#Define input pines

NET "Num<0>" LOC = B4;#SW0
NET "Num<1>" LOC = K3;#SW1
NET "Num<2>" LOC = L3;#SW2
NET "Num<3>" LOC = P11;#SW3
NET "Num<4>" LOC = N3;
NET "Num<5>" LOC = E2;
NET "Num<6>" LOC = F3;
NET "Num<7>" LOC = G3;


#DEFINE output pines
NET "anode<0>" LOC =F12;
NET "anode<1>" LOC =J12;
NET "anode<2>" LOC =M13;
NET "anode<3>" LOC =K14;

NET "Seg<0>" LOC =L14;
NET "Seg<1>" LOC =H12;
NET "Seg<2>" LOC =N14;
NET "Seg<3>" LOC =N11;
NET "Seg<4>" LOC =P12;
NET "Seg<5>" LOC =L13;
NET "Seg<6>" LOC =M12;